@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@400;500&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  margin: 0 4px;
}

body {
  display: flex;
  flex-direction: column;
  margin: 4px;
  color: #29363e;
  font-size: 18px;
  align-items: center;
  justify-content: center;
  background: #6792a5;
}

h4 {
  font-family: "Alegreya Sans", sans-serif;
  font-weight: 700;
  margin-top: 0.5em;
}

#dog {
  border-radius: 50%;
  width: 340px;
  height: 340px;
}

ul {
  align-self: flex-start;
  list-style: none;
  width: 100%;
  display: flex;
  flex-direction: column;
}

li {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 15px;
  border-radius: 3px;
  margin: 1px;
  padding: 3px;
  font-family: "Alegreya Sans", sans-serif;
}

li > div.link {
  display: flex;
  align-items: center;
  width: 87%;
  max-width: 87%;
}

li > div.delete-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 30px;
  width: 11%;
  max-width: 11%;
}

li:nth-child(odd) {
  background: #c0b0b7;
}

li:nth-child(even) {
  background: #ddbbb9;
}

a {
  text-decoration: none;
  color: #282b2c;
}

a:active {
  color: white;
}

a:visited {
  background-color: #202324;
}

a:hover {
  color: #000;
  cursor: pointer;
}

.btn {
  position: relative;
  display: block;
  font-size: 17px;
  font-family: "Alegreya Sans", sans-serif;
  font-weight: 500;
  text-decoration: none;
  margin: 10px 0px;
  border-radius: 3px;
  padding: 7px 13px;
  text-transform: uppercase;
  overflow: hidden;
  transition: 0.75s all ease;
}

.btn:hover {
  cursor: pointer;
  color: #6792a5;
}

.btn::before {
  background: #362f31;
  background: #262f37;
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  transition: all 0.6s ease;
}

.btn1::before {
  width: 0%;
  height: 100%;
}

.btn1:hover::before {
  width: 100%;
}

.disappear {
  display: none;
}

.search__input {
  width: 340px;
  height: 35px;
  margin: 10px 0px;
  padding: 3px 10px;
  border: none;
  font-size: 21px;
  font-family: "Alegreya Sans", sans-serif;
  font-weight: 500;
  color: #ccb8a9;
  border-radius: 3px;
  background: #262f37;
}

.search__input:focus {
  outline: none;
}

.search__input::placeholder {
  color: #6792a5;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #929493;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #3f596f;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #262f37;
}
